.maitree-regular {
  font-family: "Maitree", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: rgb(137, 158, 136);
  background: linear-gradient(
    90deg,
    rgb(115, 152, 113) 0%,
    rgb(129, 163, 136) 44%,
    rgb(129, 173, 132) 100%
  );
}
/* Header */
header {
  background-color: #517c45;
}
.header-h5 {
  font-family: "Maitree", serif;
  font-size: 40px;
  transition: all 0.3s;
  font-weight: bold;
}
.header-ul {
  font-family: "Maitree", serif;
  font-size: 30px;
  transition: all 0.3s;
}

.header-ul li {
  transition: all 0.9s;
}
.header-ul li:hover {
  background-color: black;
}

/*index Img Section */
.img-sec {
  height: 140vh;
  background-image: url("./images/header11.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  object-fit: contain;
}
.img-con {
  top: 35%;
  left: 28%;
  position: fixed;
  background-color: #47663e;
}
.img-sec-h5 {
  background: #1acf04;
  background: radial-gradient(
    ellipse farthest-corner at center center,
    #1acf04 48%,
    #00ff00 9%,
    #3f70cf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Maitree", serif;
  font-size: 60px;
  width: 100%;
  font-weight: bold;
}
.img-sec-h52 {
  font-family: "Maitree", serif;
  font-size: 35px;
  font-weight: normal;
  color: white;
}
.img-secabt {
  font-family: "Maitree", serif;
  font-size: 40px;
  transition: all 0.3s;
  color: white;
}
.img-sec-p {
  font-family: "Maitree", serif;
  color: white;
  font-size: 28px;
}
/* Whp0 sec */
.whoh5 {
  font-family: "Maitree", serif;
  font-weight: bold;
  color: #47663e;
}
.whop {
  font-family: "Maitree", serif;

  color: #47663e;
}
.whop2 {
  font-family: "Maitree", serif;
  font-size: 20px;
  text-align: justify;
  color: #47663e;
}
.fijippl-div {
  top: 100%;
}
.whoh5abt {
  font-family: "Maitree", serif;
  font-weight: bold;
  color: white;
  background: #47663e;
  font-size: 50px;
}
.abtusdiv {
  height: 140vh;
  background-image: url("images/abtusimg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  object-fit: contain;
}
.abtusdiv2 {
  height: 140vh;
  background-color: #47663e;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  object-fit: contain;
}
.abtusdiv22 {
  height: 140vh;
  background-image: url("images/fijian\ p3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  object-fit: contain;
}
.abtus-1st {
  background-image: url("images/fijian\ p3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  object-fit: contain;
  height: 75vh;
  border-radius: 110px;
}
.abtus-11st {
  background-image: url("images/abt2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  object-fit: contain;
  height: 75vh;
  border-radius: 110px;
}
.abtus-2nd {
  color: white;
  background: #47663e;
  border: 2px white solid;
}
.abtus-22nd {
  color: white;
  background: #47663e;
}
.abtimg {
  background: #47663e;
}
@media only screen and (max-width: 600px) {
  .about-p {
    font-size: 40px;
  }

  .img-sec-p {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
  }
  .about-p {
    font-size: 25px;
    text-align: center;
  }
  .bi-envelope {
    display: none;
  }

  .img-sec-img {
    display: none !important;
  }
  .img-sec-h52 {
    font-size: 15px;
  }
  .img-sec-h5 {
    font-size: 30px;
  }
  .img-sec-p {
    font-size: 15px;
  }
  .whowerow {
    gap: 2rem;
  }
  .fijippl-div {
    top: 80%;
  }
  .whoh5abt {
    font-size: 25px;
  }
  .abtus-1st {
    height: 40vh;
    border: 2px white solid;
  }
  .abtus-2nd {
    height: 50vh;
  }
  .abtrow {
    gap: 1rem;
  }
}
